/* 상품 상세 페이지(공연정보) - 송혜진 */

position: relative;
width: 1920px;
height: 8200px;

background: #FFFFFF;


/* Line 12 */

position: absolute;
width: 700px;
height: 0px;
left: 420px;
top: 753px;

border: 1px solid #E5E5E5;


/* 공연정보 */

position: absolute;
width: 59px;
height: 19px;
left: 430px;
top: 727px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #6E63CF;



/* 캐스팅 */

position: absolute;
width: 50px;
height: 26px;
left: 420px;
top: 784px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
/* identical to box height */

color: #000000;



/* 스테이씨 */

position: absolute;
width: 60px;
height: 16px;
left: 484px;
top: 972px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #CCCCCC;



/* 판매정보 */

position: absolute;
width: 59px;
height: 19px;
left: 510px;
top: 727px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #CCCCCC;



/* 관람후기 */

position: absolute;
width: 59px;
height: 19px;
left: 590px;
top: 727px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #CCCCCC;



/* 장소안내 */

position: absolute;
width: 59px;
height: 19px;
left: 670px;
top: 727px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #CCCCCC;



/* Line 16 */

position: absolute;
width: 80px;
height: 0px;
left: 420px;
top: 753px;

border: 3px solid #6E63CF;


/* Line 17 */

position: absolute;
width: 80px;
height: 0px;
left: 420px;
top: 753px;

border: 3px solid #6E63CF;


/* Line 19 */

position: absolute;
width: 80px;
height: 0px;
left: 420px;
top: 753px;

border: 3px solid #6E63CF;


/* Line 18 */

position: absolute;
width: 80px;
height: 0px;
left: 420px;
top: 753px;

border: 3px solid #6E63CF;


/* Line 20 */

position: absolute;
width: 80px;
height: 0px;
left: 420px;
top: 753px;

border: 3px solid #6E63CF;


/* Line 21 */

position: absolute;
width: 80px;
height: 0px;
left: 420px;
top: 753px;

border: 3px solid #6E63CF;


/* Line 22 */

position: absolute;
width: 80px;
height: 0px;
left: 420px;
top: 753px;

border: 3px solid #6E63CF;


/* Line 25 */

position: absolute;
width: 80px;
height: 0px;
left: 420px;
top: 753px;

border: 3px solid #6E63CF;


/* Group 333 */

position: absolute;
width: 140px;
height: 140px;
left: 444px;
top: 832px;



/* image 9 */

position: absolute;
width: 140px;
height: 140px;
left: 444px;
top: 832px;

background: url(image.png);
border-radius: 100px;


/* Ellipse 19 */

position: absolute;
width: 35px;
height: 35px;
left: 549px;
top: 930px;

background: #D8D8D8;
box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);


/* 🦆 icon "Heart" */

position: absolute;
width: 18.2px;
height: 16.58px;
left: 557.4px;
top: 934.3px;



/* Vector */

position: absolute;
left: 29.03%;
right: 70.02%;
top: 11.39%;
bottom: 88.4%;

background: #FFFFFF;


/* image 10 */

position: absolute;
width: 700px;
height: 5754px;
left: 420px;
top: 2228px;

background: url(image.png);


/* 공연시간 정보 예매가능시간 : 관람 4시간 전까지 2023년 9월 23일(토) 18:00(KST) 2023년 9월 24일(일) 17:00(KST) 공지사항 ※ 무통장입금 예매 제한 기간 : 2023년 9월 11일(월) 오후 6시부터 ~ 예매 마감일까지 9월 11일(월) 오후 6시부터 예매 마감일까지는 원활한 예매 진행을 위해 티켓 구매 시 무통장 입금 결제는 제한됩니다. 티켓 불법 양도, 암표 근절 및 티켓을 구입하고 싶어하시는 관객분들에게 피해가 되지 않도록 조치를 취하는 것이니, 이 점 양해 부탁드립니다. ※ 티켓 예매 시 공연 안내사항에 동의한 것으로 간주하며, 본 내용은 상황에 따라 추가 · 변경될 수 있습니다. 공연 관렘에 지장이나 불이익을 받지 않도록 관란 전 반드시 공연 안내사항을 재확인 바랍니다. [티켓 예매 일정] * 팬클럽 선예매 사전 인증 기간(@오픈런티켓) 2023년 8월 29일(화) 14:00(KST) ~ 9월 1일(금) 23:59(KST) * 팬클럽 선예매 티켓 판매 기간(@인터파크티켓) 2023년 8월 31일(목) 20:00(KST) ~ 9월 1일(금) 23:59(KST) * 일반 예매 티켓 판매 기간(@인터파크티켓) 2023년 9월 4일(월) 20:00(KST) ~ [매수제한] - 팬클럽 선예매 : 회차당 1인 1매 - 일반예매: 회차당 1인 4매 (선예매 매수 포함) ※ 결제 수단 중 ‘무통장 입금’으로 예매한 경우 정해진 기간 내 입금하셔야 예매가 취소되지 않습니다. [티켓 배송 안내] - 공연 당일 혼잡을 막기 위해 초기 예매 분은 일괄 배송 방식으로 운영합니다. - 2023년 9월 6일 (수)부터 일괄 배송이 진행되며, 이후 예매하는 분들에 한해서만 현장 수령 또는 배송을 선택할 수 있습니다. [티켓 현장 수령 안내] - 예매하신 티켓은 현장 수령 시 예매자 본인확인이 가능한 신분증과 인터파크 예매 내역서를 모두 지참하셔야 합니다. - 지참하신 신분증과 인터파크 예매 내역서의 정보가 일치해야 티켓 수령이 가능하오니 반드시 사전 확인 부탁드립니다. - 예매자 본인이 아닌 경우 또는 예매자 본인이더라도 본인 신분증 확인이 되지 않는 경우 티켓 수령이 불가합니다. - 자세한 사항은 하단의 상세이미지 내 ‘티켓 현장 수령 안내’를 확인해 주시기 바랍니다. [휠체어석 예매 안내] - 휠체어석 구매는 2023년 9월5일 (화) 오전 9시부터 인터파크 고객센터(1588-8282)를 통해 전화예매만 가능합니다 (*고객센터 운영시간 오전 9시~오후 6시) - 자세한 사항은 하단 상세이미지 내 '휠체어석 예매 안내'를 확인해 주시기 바랍니다. ※ 티켓 분실, 파손 등 어떠한 경우에도 재발권 및 입장이 불가능하오니, 티켓보관에 유의해주시기 바랍니다. 공연상세 / 출연진정보 */

position: absolute;
width: 1145px;
height: 1097px;
left: 420px;
top: 1041px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;

color: #000000;



/* image 19 */

position: absolute;
width: 332px;
height: 456px;
left: 1168px;
top: 231px;

background: url(image.png);


/* Group 249 */

position: absolute;
width: 332px;
height: 51px;
left: 1168px;
top: 697px;



/* Rectangle 29 */

box-sizing: border-box;

position: absolute;
width: 332px;
height: 51px;
left: 1168px;
top: 697px;

background: #6E63CF;
border: 1px solid #6E63CF;
border-radius: 12px;


/* Group 250 */

position: absolute;
width: 332px;
height: 51px;
left: 1168px;
top: 758px;



/* Rectangle 29 */

box-sizing: border-box;

position: absolute;
width: 332px;
height: 51px;
left: 1168px;
top: 758px;

background: #FFFFFF;
border: 1px solid #6E63CF;
border-radius: 12px;


/* BOOKING / 外國語 */

position: absolute;
width: 163px;
height: 18px;
left: 1252px;
top: 773px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #6E63CF;



/* 예 매 하 기 */

position: absolute;
width: 83px;
height: 18px;
left: 1292px;
top: 712px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;



/* STAYC 1ST WORLD TOUR [ TEENFRESH ] in SEOUL */

position: absolute;
width: 485px;
height: 25px;
left: 428px;
top: 231px;

font-family: 'SUITE';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
/* identical to box height */

color: #000000;



/* Line 11 */

position: absolute;
width: 700px;
height: 0px;
left: 420px;
top: 298px;

border: 1px solid #000000;


/* Group 323 */

position: absolute;
width: 248px;
height: 14px;
left: 635px;
top: 374px;



/* 2023.09.23 ~ 2023.09.24 */

position: absolute;
width: 170px;
height: 14px;
left: 713px;
top: 374px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* 공연기간 */

position: absolute;
width: 53px;
height: 14px;
left: 635px;
top: 374px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* Group 327 */

position: absolute;
width: 237px;
height: 33px;
left: 635px;
top: 475px;



/* 지정석 132,000원 */

position: absolute;
width: 80px;
height: 10px;
left: 713px;
top: 498px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
/* identical to box height */

color: #C4C4C4;



/* Group 14 */

position: absolute;
width: 159px;
height: 16px;
left: 713px;
top: 475px;



/* 전체가격보기 */

position: absolute;
width: 136px;
height: 14px;
left: 713px;
top: 477px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 14px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* ▶ */

position: absolute;
width: 14px;
height: 16px;
left: 858px;
top: 475px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;

color: #000000;



/* 가격 */

position: absolute;
width: 27px;
height: 14px;
left: 635px;
top: 476px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* Group 325 */

position: absolute;
width: 117px;
height: 14px;
left: 635px;
top: 408px;



/* 120분 */

position: absolute;
width: 39px;
height: 14px;
left: 713px;
top: 408px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* 공연시간 */

position: absolute;
width: 53px;
height: 14px;
left: 635px;
top: 408px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* Group 326 */

position: absolute;
width: 147px;
height: 14px;
left: 636px;
top: 442px;



/* 만 7세 이상 */

position: absolute;
width: 70px;
height: 14px;
left: 713px;
top: 442px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* 관람연령 */

position: absolute;
width: 53px;
height: 14px;
left: 636px;
top: 442px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* 2023년 9월 11일 18시 00분 ~ 2023년 09월 23일 23시 59분까지 무통장입금 결제가 불가능합니다. */

position: absolute;
width: 402px;
height: 42px;
left: 713px;
top: 528px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;

color: #000000;



/* 유의사항 */

position: absolute;
width: 53px;
height: 14px;
left: 636px;
top: 528px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* Group 328 */

position: absolute;
width: 231px;
height: 14px;
left: 635px;
top: 340px;



/* Group 324 */

position: absolute;
width: 201px;
height: 14px;
left: 635px;
top: 340px;



/* 장소 */

position: absolute;
width: 27px;
height: 14px;
left: 635px;
top: 340px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* 올림픽공원 올림픽홀 */

position: absolute;
width: 123px;
height: 14px;
left: 713px;
top: 340px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* ▶ */

position: absolute;
width: 14px;
height: 14px;
left: 852px;
top: 340px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 14px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* image 8 */

position: absolute;
width: 190.5px;
height: 254px;
left: 420px;
top: 333px;

background: url(image.png);


/* 푸터 */

position: absolute;
width: 1920px;
height: 133px;
left: 0px;
bottom: 0px;



/* Group 278 */

position: absolute;
width: 948px;
height: 124px;
left: 420px;
top: 8076px;



/* 회사소개 | 개인정보 처리방침 | 청소년 보호정책 | 위치기반 서비스 이용약관 | 이용약관 | 티켓판매안내 | 고객센터 | 공지사항 */

position: absolute;
width: 948px;
height: 9.81px;
left: 420px;
top: 8076px;

font-family: 'SUITE';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;



/* Copyright ⓒ OPENRUN Corporation. All rights reserved. */

position: absolute;
width: 408px;
height: 24.52px;
left: 420px;
top: 8175.48px;

font-family: 'SUITE';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #C4C4C4;



/* 오픈런 주식회사 주소 : 서울특별시 강남구 강남대로 어딘가, 멋진빌딩(12345) | 대표이사 : 윤황집 | 사업자번호 : 144-00-00000 고객센터 : 1588-8282 | helpmeplz@openrun.co.kr | 통신판매업 신고번호 : 제 2023-경기성남-0000호 | 사업자정보확인 | 개인정보보호 책임자 : 최혜빈 */

position: absolute;
width: 853px;
height: 48.34px;
left: 420px;
top: 8111.73px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Group 275 */

position: absolute;
width: 1920px;
height: 35px;
left: 0px;
top: 8067px;



/* Line 36 */

position: absolute;
width: 1920px;
height: 0px;
left: 0px;
top: 8067px;

border: 1px solid #000000;


/* Line 37 */

position: absolute;
width: 1920px;
height: 0px;
left: 0px;
top: 8102px;

border: 1px solid #DADADA;


/* 헤더 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: relative;
width: 1920px;
height: 185px;
left: 0px;
top: 0px;



/* Frame 293 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 420px;
gap: 10px;

width: 1920px;
height: 40px;

background: #F8F9FA;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 로그아웃 | 마이페이지 | 고객센터 */

width: 230px;
height: 20px;

font-family: 'SUITE';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: right;

color: #9F9F9F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 291 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 420px;
gap: 10px;

width: 997px;
height: 57px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* image 2 */

width: 157px;
height: 57px;

background: url(image.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 294 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 420px;
gap: 42px;

width: 1927px;
height: 40px;

background: #6E63CF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 홈 */

width: 16px;
height: 22px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 뮤지컬 */

width: 47px;
height: 22px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 콘서트 */

width: 47px;
height: 22px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 연극 */

width: 32px;
height: 22px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* 클래식 / 무용 */

width: 95px;
height: 22px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* 전시 / 행사 */

width: 79px;
height: 22px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Line 8 */

width: 15px;
height: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* 랭킹 */

width: 32px;
height: 22px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* 지역 */

width: 32px;
height: 22px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;


/* 공연장 */

width: 47px;
height: 22px;

font-family: 'SUITE';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 9;
flex-grow: 0;


/* Search bar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 2.05935px 10px;
gap: 92px;

width: 240px;
height: 32px;

/* Shades/White */
background: #FFFFFF;
border: 1px solid #E7EAEE;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 10;
flex-grow: 0;


/* 검색어를 입력해주세요 */

width: 114px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #808080;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icons */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Shape */

position: absolute;
left: 12.5%;
right: 16.67%;
top: 12.5%;
bottom: 16.67%;

background: #808080;
